header, #header-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

header{
    height: auto;
    padding: 5px 0;
    margin-bottom: 30px;
    background-color: rgba(23, 32, 27, 10%);
    backdrop-filter: blur(5px);
}

#header-logo > h4{
    font-family: "paprika";
    color: #fff;
}

#header-menu{
    margin-right: 10%;
    width: 70%;
    height: auto;
}

.img-logo{
    max-width: 5%;
}

ul, .header-menu-link{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
}

.header-menu-link{
    display: flex;
    align-items: center;
    padding: 0 25px;
    font-family: "paprika";
    font-weight: 400;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}

.header-menu-link:hover{
    border: 1px solid white;
}

.material-symbols-outlined{
    padding-left: 10px;
}