@media only screen and (orientation:portrait) and (max-width:768px){
   
    #section-hero, #hero-content{
        display: flex;
        flex-direction: column;
        height: auto;
   }

   #section-hero{
    background-image: url("../media/img/aero-beach.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   }

   #hero-content-info{
    width: auto;
   }

    #hero-title{
        font-size: 35px;
        margin: 30px 0 0 20px;
    }

    #hero-subtitle{
        font-size: 22px;
        margin: 35px 0;
    }

    #hero-content-cta{
        width: 60%;
        padding: 3% 5%;
        font-size: 20px;
        margin: 0 0 15% 15%;
    }

    #box-tour{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 15px 0;
    }

    #text-box-tour{
        font-size: 18px;
        padding: 0;
    }

    .card-tour{
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: 0 13px 15px;
    }

    .card-tour-content{
        width: auto;
        margin: 0;
    }

    .card-img-tour{
        width: 100%;
        height: 200px;
    }

    .card-tour-link{
        padding: 5px 10px;
        margin-bottom: 10px;
    }
}

@media only screen  and (orientation:landscape) and (max-width:960px){

    #section-hero{
        background-image: url("../media/img/aero-beach.jpg");
        background-repeat: no-repeat;
        background-size: cover;
       }

       #hero-title{
        font-size: 50px;
       }

       #text-box-tour{
        font-size: 25px;
       }

       .card-tour{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
       }

       .card-img-tour{
        width: 100%;
        height: 200px;        
       }

       .card-tour-data{
        width: 50%;
        text-align: center;
       }

       .card-tour-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
       }

       .card-tour-link{
        padding: 5px 10px;
        margin-bottom: 10px;
       }

}